/** Global style**/

body {
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.953em;
}

body:before {
    content: " ";
    background: url('../images/background-image.jpg') center no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -10;
    background-size: cover;
}

h1, h2 {
    font-family: Verdana, Times, "Times New Roman", serif;
    font-style: italic;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.7em;
    font-weight: 600;
}

/** Navigation **/

nav {
    background-color: rgba(164, 156, 116, 0.8);
    position: absolute;
    left: 0;
    right: 0;
    padding: 12px 40px;
}

nav>div {
    width: 50%;
    float: left;
}

nav h5 {
    margin: 0;
    color: #FFFFFF;
    font-style: italic;
    font-weight: 500;
}

nav ul {
    margin: 0;
    text-align: right;
}

nav ul li {
    list-style: none;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 0.7em;
}

nav a:hover {
    color: rgba(247, 206, 209, 1.0);
}

/** Banner **/

.banner {
    height: 500px;
    margin: 0;
}

.banner h1 {
    color: rgb(255, 231, 232);
    text-align: center;
    line-height: 500px;
    font-weight: 400;
    font-style: italic;
    font-size: 1.563em;
    margin: 0;
}

/**Biography*/

.main-content {
    background-color: rgba(236, 226, 176, 0.85);
}

.main-content>div {
    margin: 0 auto;
    width: 1250px;
}

.main-content .row:not(.intro) {
    clear: both;
}

.main-content .row .odd {
    text-align: left;
}

.main-content .row .even {
    text-align: right;
}

.intro {
    width: 960px!important;
    padding: 0;
}

.intro img {
    float: left;
    margin: -260px 25px 0 0;
    -webkit-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.37);
    box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.37);
}

.intro h2 {
    font-size: 1em;
    margin-left: 324px;
    padding-top: 20px;
    width: 100%;
}

.intro p {
    margin: 10px;
}

.main-content .row h2 {
    font-size: 1em;
}

figure * {
    display: inline-block;
    vertical-align: middle;
}

figure figcaption {
    font-size: 0.64em;
    font-weight: 600;
    width: 300px;
}

#btn {
    background-color: transparent;
    border: none;
    display: block;
    margin: 0 auto;
    padding-bottom: 50px;
}

#btn a:hover {
    background-color: rgba(183, 110, 121, 0.8);
    color: rgba(247, 206, 209, 1.0);
}

#btn a {
    display: block;
    font-size: 1.563em!important;
    padding: 12px 24px;
    background-color: rgba(183, 110, 121, 0.4);
    border-radius: 4px;
    color: #333333;
    border: none;
    font-weight: 600;
    -webkit-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.37);
    box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.37);
    text-decoration: none;
}

footer {
    background-color: rgba(164, 156, 116, 0.8);
    color: #ECE2B0;
}

footer p {
    margin: 0;
    padding: 20px 50px;
}